:where(:root) {
  cursor: unset;
}

body {
  border-top: 5px solid #9b4dca;
  padding-top: calc(var(--spacing) * 4);
}

.about-me > img {
  margin-bottom: var(--spacing);
}

@media (min-width: 992px) {
  .about-me {
    display: flex;
    gap: calc(var(--spacing) * 2);
  }
  .about-me > img {
    margin-bottom: 0;
  }
}

.about-me h1 {
  margin: 0;
  font-size: 1.5rem;
}

code,
kbd {
  padding: 0.25rem 0.5rem;
}

.chip {
  display: inline-flex;
  border-radius: 2em;
  cursor: default;
  padding: 0.2em 0.7em;
  background-color: var(--code-background-color);
}

a > .chip {
  color: inherit;
  cursor: unset;
}

li.chip {
  margin: 0;
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5em;
}

.recent-posts a h4 {
  color: var(--primary);
  margin-bottom: 0;
}
